.app__init {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f6;
}

@media (prefers-color-scheme: dark) {
  .app__init {
    background-color: #131313;
  }
}

.app__init-logo {
  font-size: 3rem;
  font-weight: 400;
  transform: translateY(20px);
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
